---
---
* {box-sizing: border-box}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background: #ccc;
}

main {
  padding: 5px 40px;
  max-width: 50em;
}

.index-main {
  display: flex;
}

img {
  max-width: 100%;
  vertical-align: middle;
  padding: 2px;
  padding-bottom: 15px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #bc5100;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    border-bottom: none;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav a {
    padding: 20px 40px;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

/* Style the index tab */
.tab {
  // float: left;
  border: 1px solid #ccc;
  background-color: #c4c0b5;
  // width: 30%;
  // height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

// for the topBtn
#intersectionObserver {
  position: absolute;
  top: 0px;
  height: 120vh;
  max-height: 400px;
  width: 0;
}

.topBtn {
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: blue;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  transition: opacity 100ms ease-in;
  border-radius:50%;
  & svg {
    background-color: transparent
  }
}

// Style the full datasheet table
#fulltable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#fulltable td, #fulltable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#fulltable tr:nth-child(even){background-color: #f2f2f2;}

#fulltable tr:hover {background-color: #ddd;}

#fulltable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bc5100;
  color: white;
}
