---
---
<p>All dates are the 21st of the month (data from 2019)</p>
{% assign row = site.data.sst[0] %}
<table id="fulltable">
  {% for row in site.data.sst %}
    {% if forloop.first %}
    <tr>
      {% for pair in row %}
        <th>{{ pair[0] | replace: "_SN", " Solar Noon" | replace: "_SST", " Safe Sun Minutes" }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    {% tablerow pair in row %}
      {{ pair[1] }}
    {% endtablerow %}
  {% endfor %}
</table>
