---
layout: default
type: index
---
<h2>Safe Sun Times (<span id=month_name></span> 21)</h2>
<p>Click on your city for this month's data:</p>
<div class=index-main>
<div class="tab">
  {% assign counter = 0 %}
  {% for each in site.data.cities %}
    {% assign counter = counter | plus: 1 %}
    <button class="tablinks" onclick="openCity(event, '{{ each.city }}')" {% if counter == 1 %}id="defaultOpen"{% endif %}>{{ each.city }}</button>
  {% endfor %}
</div>


{% for each in site.data.cities %}
  {% assign city_noon = each.city | append: "_SN" %}
  {% assign city_sst1 = each.city | append: "_SST1" %}
  {% assign city_sst2 = each.city | append: "_SST2" %}
  {% assign city_sst3 = each.city | append: "_SST3" %}
  {% assign city_sst4 = each.city | append: "_SST4" %}
<div id="{{ each.city }}" class="tabcontent">
  <h3>{{ each.city }}</h3>
  <p>At <span class=time1></span> the sun is safe for <span id="{{ city_sst1 }}"></span> minutes</p>
  <p>At <span class=time2></span> the sun is safe for <span id="{{ city_sst2 }}"></span> minutes</p>
  <p>Solar noon is at <span id="{{ city_noon }}"></span>.</p>
  <p><span class=time3></span> <span id="{{ city_sst3 }}"></span></p>
  <p><span class=time4></span> <span id="{{ city_sst4 }}"></span></p>
</div>
{% endfor %} 
</div>
<div>&nbsp; </div>
<h3>You're welcome</h3>
