<head>
  <meta charset="UTF-8">
  <html lang="{{ page.lang | default: 'en' }}">
  <!-- Preload some files and fonts to improve page load speed -->
  <link rel="preload" href="/css/main.css" as="style">
  <!--<link rel="preload" href="/assets/css/fa-custom.css" as="style">-->
  <!--<link rel="preload" href="/assets/js/navigation.js" as="script" crossorigin>-->
  <!--<link rel="preload" href="/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Black.ttf" as="font" type="font/ttf" crossorigin>-->
  <!--<link rel="preload" href="/assets/google_fonts/Bitter/Bitter-Regular.ttf" as="font" type="font/ttf" crossorigin>-->
  <!--<link rel="preload" href="/assets/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>-->
  <!--<link rel="preload" href="/assets/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>-->
  <!--<link rel="preload" href="/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf" as="font" type="font/ttf" crossorigin>-->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/main.css">

    <!-- Font awesome stylesheets -->
  <!--<link rel="stylesheet" href="/assets/css/fa-custom.css">-->
  <!-- Normal meta -->
  <meta name="description" content="{% if page.type == "posts" %}{{ post.excerpt }}{% elsif page.description %}{{ page.description }}{% elsif site.title %}{{ site.title }}{% else %}{{ page.translationID }}{% endif %}">
  <meta name="keywords" content="{{ site.keywords}}">
  <meta name="author" content="{{ site.title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#01579B">

  <!-- Facebook & Twitter's opengraph headers -->
  <meta property="og:title" content='{% if page.og-title %}{{ page.og-title }}{% else %}{{ page.title }}{% endif %}'>
  <meta property="article:publisher" content="{{ site.url }}">
  {% if page.tag %}<meta property="article:tag" content="{{ page.tags }}">{% endif %}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="fb:app_id" content="299421778303061">
  <meta property="og:site_name" content='{{ site.title }}'>
  <meta property="og:description" content='{% if page.og-title %}{{ page.og-title }}{% elsif page.title %}{{ page.title }}{% elsif site.title %}{{ site.title }}{% else %}{{ page.translationID }}{% endif %}'>
  <meta property="og:image" content="{{ site.url }}/assets/images/quaker_icon.png" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}">
  <meta property="og:locale" content="{% if fr %}fr{% else %}en{% endif %}_CA">

  <!-- A few infosheets -->
  <link rel="icon" type="image/png" href="/favicon.ico" sizes="256x256">
  <link rel="apple-touch-icon" href="/assets/images/quaker_icon_192x192.png" sizes="192x192">
  <link rel="manifest" href="/manifest{% if fr %}-fr{% endif %}.webmanifest">

  {% comment %}Default title in English but in French too{% endcomment %}
  <title>
	  {% if fr %}
	    {{ site.title-fr }}
	  {% else %}
	    {{ site.title }}
	  {% endif %}
  </title>
</head>
