<header>
  <div class="nav">
    <ul>
      <li class="home"><a href="/">Home</a></li>
      <li class="about"><a href="/about">About</a></li>
      <li class="datasheet"><a href="/datasheet">Datasheet</a></li>
      <li class="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</header>
