---
layout: compress
---
{% assign returntoTopText = "Return to top" %}
<!DOCTYPE html>
  {% include head.html %}
<body id=toppoint>
  <div id=intersectionObserver></div>
    {% include navigation.html %}

    {% comment %}
      This inserts the code for the navigation and then alerts and breadcrumbs
    {% endcomment %}


  <main>
  
    <!-- Return to top button -->
  
      <a 
        href="#toppoint"
        aria-label="{{ returntoTopText }}"
        id="topBtn" 
        class="topBtn"
        title="{{ returntoTopText }}"
        >
        
        {% include angle-circle-arrow-up.svg %}
  
      </a>
	
	{{ content }}
  
    </article>
  </main>
  
     <br>&nbsp; 
  
  <footer class="footer">
  
  </footer>
  
  {% if page.type == "index" %}
    <script src="/js/sst.js" crossorigin></script>   
    <script src="/js/tab.js" crossorigin></script>   
  {% endif %}
  
</body>
</html>
